.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio-filters {
  gap: 10px;
  margin-bottom: 40px;
}

.portfolio-filters input {
  display: none; /* 라디오 버튼 숨기기 */
}

.portfolio-filters label {
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 5px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  font-family: var(--heading-font);
  padding: 8px 20px 10px 20px;
  color: #444444;
}

.portfolio-filters input:checked + label {
  color: var(--contrast-color);
  background-color: var(--accent-color);
}
.portfolio-filters label:hover {
  color: var(--contrast-color);
  background-color: var(--accent-color);
}
.portfolio-container {
  min-height: 950px;
  position: relative;
  width: 960px;
}
.portfolio:has(#filter-card:checked) .portfolio-container {
  min-height: 30rem; /* 원하는 min-height 값으로 변경 */
}
.portfolio:has(#filter-app:checked) .portfolio-container {
  min-height: 30rem; /* 원하는 min-height 값으로 변경 */
}
.portfolio:has(#filter-web:checked) .portfolio-container {
  min-height: 30rem; /* 원하는 min-height 값으로 변경 */
}

.portfolio-container img {
  width: 100%;
  height: 100%;
}

#image1,
#image2,
#image3,
#image4,
#image5,
#image6,
#image7,
#image8,
#image9 {
  width: 295.98px;
}

/* 필터 적용 */
.portfolio:has(#filter-all:checked) .portfolio-item {
  opacity: 1;
  transform: scale(1); /* 나타나기 애니메이션 */
  z-index: 0; /* 초기화 */
}
.portfolio:has(#filter-all:checked) #image1 {
  left: 0px;
  top: 0px;
}
.portfolio:has(#filter-all:checked) #image2 {
  left: 320px;
  top: 0px;
}
.portfolio:has(#filter-all:checked) #image3 {
  left: 640px;
  top: 0px;
}
.portfolio:has(#filter-all:checked) #image6 {
  left: 0px;
  top: 324.062px;
}
.portfolio:has(#filter-all:checked) #image5 {
  left: 320px;
  top: 222.462px;
}
.portfolio:has(#filter-all:checked) #image4 {
  left: 640px;
  top: 190.5px;
}
.portfolio:has(#filter-all:checked) #image7 {
  left: 640px;
  top: 410.225px;
}
.portfolio:has(#filter-all:checked) #image8 {
  left: 640px;
  top: 626.362px;
}
.portfolio:has(#filter-all:checked) #image9 {
  left: 320px;
  top: 688.924px;
}

/* App 필터 */
.portfolio:has(#filter-app:checked) .portfolio-item.app {
  opacity: 1;
  transform: scale(1);
  z-index: 1000; /* 초기화 */
}
.portfolio:has(#filter-app:checked) #image1 {
  left: 0px;
  top: 0px;
}
.portfolio:has(#filter-app:checked) #image4 {
  left: 319.983px;
  top: 0px;
}
.portfolio:has(#filter-app:checked) #image7 {
  left: 639.966px;
  top: 0px;
}
@media (max-width: 991px) {
  .portfolio-container {
    min-height: 1477.85px;
    position: relative;
    width: 660px;
  }
  .portfolio:has(#filter-all:checked) #image1 {
    left: 0px;
    top: 0px;
  }

  .portfolio:has(#filter-all:checked) #image2 {
    left: 360px;
    top: 0px;
  }

  .portfolio:has(#filter-all:checked) #image3 {
    left: 360px;
    top: 249.288px;
  }

  .portfolio:has(#filter-all:checked) #image4 {
    left: 0px;
    top: 364.612px;
  }

  .portfolio:has(#filter-all:checked) #image5 {
    left: 360px;
    top: 462.288px;
  }

  .portfolio:has(#filter-all:checked) #image6 {
    left: 0px;
    top: 610.787px;
  }

  .portfolio:has(#filter-all:checked) #image7 {
    left: 360px;
    top: 988.551px;
  }

  .portfolio:has(#filter-all:checked) #image8 {
    left: 0px;
    top: 1134.42px;
  }

  .portfolio:has(#filter-all:checked) #image9 {
    left: 360px;
    top: 1230.65px;
  }

  .portfolio:has(#filter-app:checked) #image4 {
    left: 360px;
    top: 0px;
  }

  .portfolio:has(#filter-app:checked) #image7 {
    left: 360px;
    top: 246.175px;
  }
  .portfolio:has(#filter-card:checked) #image5 {
    left: 360px !important;
    top: 0px !important;
  }
  .portfolio:has(#filter-card:checked) #image8 {
    left: 0px !important;
    top: 249.288px !important;
  }
  .portfolio:has(#filter-web:checked) #image6 {
    left: 360px !important;
    top: 0px !important;
  }
  .portfolio:has(#filter-web:checked) #image9 {
    left: 0px !important;
    top: 213px !important;
  }
  .portfolio:has(#filter-card:checked) .portfolio-container {
    min-height: 34rem; /* 원하는 min-height 값으로 변경 */
  }
  .portfolio:has(#filter-app:checked) .portfolio-container {
    min-height: 34rem; /* 원하는 min-height 값으로 변경 */
  }
  .portfolio:has(#filter-web:checked) .portfolio-container {
    min-height: 34rem; /* 원하는 min-height 값으로 변경 */
  }
}

@media (max-width: 767px) {
  .portfolio-container {
    min-height: 4276.65px;
    position: relative;
    width: 516px;
  }
  .portfolio:has(#filter-all:checked) #image1 {
    left: 0px;
    top: 0px;
  }

  .portfolio:has(#filter-all:checked) #image2 {
    left: 0px;
    top: 547.088px;
  }

  .portfolio:has(#filter-all:checked) #image3 {
    left: 0px;
    top: 917.063px;
  }

  .portfolio:has(#filter-all:checked) #image4 {
    left: 0px;
    top: 1231.31px;
  }

  .portfolio:has(#filter-all:checked) #image5 {
    left: 0px;
    top: 1596.51px;
  }

  .portfolio:has(#filter-all:checked) #image6 {
    left: 0px;
    top: 2391.85px;
  }

  .portfolio:has(#filter-all:checked) #image7 {
    left: 0px;
    top: 3183.16px;
  }

  .portfolio:has(#filter-all:checked) #image8 {
    left: 0px;
    top: 3542.1px;
  }

  .portfolio:has(#filter-all:checked) #image9 {
    left: 0px;
    top: 3909.88px;
  }

  .portfolio:has(#filter-app:checked) #image4 {
    left: 0px;
    top: 547.088px;
  }

  .portfolio:has(#filter-app:checked) #image7 {
    left: 0px;
    top: 912.288px;
  }
  .portfolio:has(#filter-card:checked) #image5 {
    left: 0px !important;
    top: 369.975px !important;
  }
  .portfolio:has(#filter-card:checked) #image8 {
    left: 0px !important;
    top: 1165.31px !important;
  }
  .portfolio:has(#filter-web:checked) #image6 {
    left: 0px !important;
    top: 314.25px !important;
  }
  .portfolio:has(#filter-web:checked) #image9 {
    left: 0px !important;
    top: 1105.56px !important;
  }
  #image1,
  #image2,
  #image3,
  #image4,
  #image5,
  #image6,
  #image7,
  #image8,
  #image9 {
    width: 516px;
  }
  .bi,
  [class^="bi-"],
  [class*=" bi-"] {
    font-size: 30px !important;
  }
  .portfolio-item-info {
    bottom: -3rem;
    height: 7rem;
    padding: 0px;
    justify-content: space-around;
  }
  .portfolio-item-infotext {
    width: 25rem;
  }
  .portfolio-item-infotext > span {
    padding-right: 10px;
    margin-right: 30px;
  }
  .portfolio-item-infotext > div {
    padding-right: 10px;
  }
  .portfolio:has(#filter-card:checked) .portfolio-container {
    min-height: 95rem; /* 원하는 min-height 값으로 변경 */
  }
  .portfolio:has(#filter-app:checked) .portfolio-container {
    min-height: 82rem; /* 원하는 min-height 값으로 변경 */
  }
  .portfolio:has(#filter-web:checked) .portfolio-container {
    min-height: 92rem; /* 원하는 min-height 값으로 변경 */
  }
}

/* Card 필터 */
.portfolio:has(#filter-card:checked) .portfolio-item.card {
  opacity: 1;
  transform: scale(1);
  z-index: 1000; /* 초기화 */
}
.portfolio:has(#filter-card:checked) #image2 {
  left: 0px;
  top: 0px;
}
.portfolio:has(#filter-card:checked) #image5 {
  left: 319.983px;
  top: 0px;
}
.portfolio:has(#filter-card:checked) #image8 {
  left: 639.966px;
  top: 0px;
}

/* Web 필터 */
.portfolio:has(#filter-web:checked) .portfolio-item.web {
  opacity: 1;
  transform: scale(1);
  z-index: 1000; /* 초기화 */
}
.portfolio:has(#filter-web:checked) #image3 {
  left: 0px;
  top: 0px;
}
.portfolio:has(#filter-web:checked) #image6 {
  left: 319.983px;
  top: 0px;
}
.portfolio:has(#filter-web:checked) #image9 {
  left: 639.966px;
  top: 0px;
}

.portfolio h2 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  position: relative;
}
.portfolio h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 160px;
  height: 1px;
  background: color-mix(in srgb, var(--default-color), transparent 60%);
  left: 0;
  right: 0;
  bottom: 1px;
  margin: auto;
}

.portfolio h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.portfolio p {
  font-family: var(--default-font);
  color: var(--default-color);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  padding-bottom: 60px;
}

.portfolio-item {
  z-index: 0; /* 기본값 */
  position: absolute;
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.5s ease; /* 이동 및 투명도 애니메이션 */
}

.portfolio-item-info {
  position: absolute;
  bottom: -3rem;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  height: 6rem;
  transform: translateY(20px); /* 초기값 */
  transition: transform 0.8s ease, opacity 0.3s ease;
  background: color-mix(in srgb, var(--background-color), transparent 10%);
  opacity: 0; /* 초기값 숨기기 */
  z-index: 100;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.portfolio-item-infotext {
}
.portfolio-item-infotext > span {
  font-size: 18px;
  font-weight: 600;
  padding-right: 50px;
  color: var(--heading-color);
  font-family: var(--heading-font);
}
.portfolio-item-infotext > div {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  font-size: 14px;
  padding-right: 50px;
}

.portfolio-item-icons {
  display: flex;
}
.portfolio-item:hover {
  z-index: 10; /* 호버 시 상위에 표시 */
}

/* 호버 시 정보가 나타나도록 수정 */
.portfolio-item:hover .portfolio-item-info,
.portfolio:has(#filter-all:checked) .portfolio-item:hover .portfolio-item-info,
.portfolio:has(#filter-app:checked)
  .portfolio-item.app:hover
  .portfolio-item-info,
.portfolio:has(#filter-card:checked)
  .portfolio-item.card:hover
  .portfolio-item-info,
.portfolio:has(#filter-web:checked)
  .portfolio-item.web:hover
  .portfolio-item-info {
  transform: translateY(-20px); /* 호버 시 위로 이동 */
  opacity: 1; /* 호버 시 보이게 */
}

*,
::after,
::before {
  box-sizing: border-box;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 50px;
  font-size: 30px;
  top: calc(50% - 14px);
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  transition: 0.3s;
  line-height: 0;
}

.bi-zoom-in::before {
  content: "\f62c";
}

.bi,
[class^="bi-"],
[class*=" bi-"] {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  font-size: 22px;
  margin-right: 7px;
  margin-top: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.3s ease; /* 부드러운 색상 전환 효과 */
}

.bi:hover,
[class^="bi-"]:hover,
[class*=" bi-"]:hover {
  color: var(--accent-color); /* 호버 시 색상 변경 */
}
